.filter {
    @extend .df-row;

    .filter-title {
        width: 30%;
    }

    .checkbox-container {
        @extend .df-row;
        width: 70%;

        label {
            margin: auto;
        }
    }
}

.card-container {
    @extend .df-row;
}

.card-repas {
    width: 20%;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.card-repas-header {
    @extend .df-row;
    justify-content: center;
    background-color: black;
    border-radius: 10px 10px 0 0;

    img {
        width: 160px;
        height: 160px;

    }
}

.card-repas-body {
    background-color: black;
    padding: 10px;
}

.search {
    @extend .df-row;

    .search-title {
        width: 30%;
    }

    form {
        width: 70%
    }

    .input-box {
        @extend .df-row;
        width: 100%;
        align-items: center;

        input {
            border-radius: 10px;
            height: 35px;
            margin-right: 5px;
            width: 70%;

            &::placeholder {
                text-align: center;
            }
        }

        button {
            height: 35px;
            background-color: black;
            color: white;
            border-radius: 10px;
        }
    }
}


@media(max-width:1200px) {
    .search {

        .search-title {
            width: 50%;
        }

        form {
            width: 50%
        }

    }
}

@media(max-width:1000px) {
    .card-repas {
        width: 33%;

    }
}

@media(max-width:778px) {
    .search {

        .search-title {
            width: 100%;
        }

        form {
            width: 100%
        }

    }

    .card-repas {
        width: 50%;

    }
}

@media(max-width:528px) {
    .filter {
        @extend .df-row;

        .filter-title {
            width: 100%;
        }

        .checkbox-container {
            width: 100%;

            label {
                margin: auto;
                margin-top: 5px;
            }
        }
    }

}