<h1 class="text-center mt-2">Repas du jours</h1>
<div class="filter mb-3">
    <h2 class="filter-title mt-2">Filtrer par secteur : </h2>
    <div class="checkbox-container mt-2 ">
        <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off">
        <label class="btn btn-outline-success" for="btn-check-2">Checked</label>
        <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off">
        <label class="btn btn-outline-success" for="btn-check-3">Checked</label>
        <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off">
        <label class="btn btn-outline-success" for="btn-check-1">Checked</label>
        <input type="checkbox" class="btn-check" id="btn-check-0" autocomplete="off">
        <label class="btn btn-outline-success" for="btn-check-0">Checked</label>
    </div>
</div>
<div class="search my-5">
    <h2 class="search-title ">Rechercher un repas : </h2>
    <div class="input-box">
        <input type="text" placeholder="Entrer le nom du repas / ingrédient / utilisateur">
        <button><fa-icon [icon]="iconSearch"></fa-icon></button>
    </div>
</div>
<div class="card-container">
    <div class="card-repas">
        <div class="card-repas-header">
            <img src="assets/logo.jpg" alt="">
        </div>
        <div class="card-repas-body">
            <div class="title">
                <h4>Rougail saucisse</h4>
            </div>
            <div class="ingredient">
                <span>#tomate #porc</span>
            </div>
            <div class="username">
                <span>toto974</span>
            </div>
        </div>
    </div>
    <div class="card-repas">
        <div class="card-repas-header">
            <img src="assets/logo.jpg" alt="">
        </div>
        <div class="card-repas-body">
            <div class="title">
                <h4>Rougail saucisse</h4>
            </div>
            <div class="ingredient">
                <span>#tomate #porc</span>
            </div>
            <div class="username">
                <span>toto974</span>
            </div>
        </div>
    </div>
    <div class="card-repas">
        <div class="card-repas-header">
            <img src="assets/logo.jpg" alt="">
        </div>
        <div class="card-repas-body">
            <div class="title">
                <h4>Rougail saucisse</h4>
            </div>
            <div class="ingredient">
                <span>#tomate #porc</span>
            </div>
            <div class="username">
                <span>toto974</span>
            </div>
        </div>
    </div>
    <div class="card-repas">
        <div class="card-repas-header">
            <img src="assets/logo.jpg" alt="">
        </div>
        <div class="card-repas-body">
            <div class="title">
                <h4>Rougail saucisse</h4>
            </div>
            <div class="ingredient">
                <span>#tomate #porc</span>
            </div>
            <div class="username">
                <span>toto974</span>
            </div>
        </div>
    </div>
    <div class="card-repas">
        <div class="card-repas-header">
            <img src="assets/logo.jpg" alt="">
        </div>
        <div class="card-repas-body">
            <div class="title">
                <h4>Rougail saucisse</h4>
            </div>
            <div class="ingredient">
                <span>#tomate #porc</span>
            </div>
            <div class="username">
                <span>toto974</span>
            </div>
        </div>
    </div>

</div>