<h1 class="text-center mt-2">Plats du jours</h1>
<div class="filter">
    <h2 class="filter-title mt-2">Filtrer par secteur : </h2>
    <div class="checkbox-container mt-2">
        <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off">
        <label class="btn btn-outline-success" for="btn-check-2">Checked</label>
        <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off">
        <label class="btn btn-outline-success" for="btn-check-3">Checked</label>
        <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off">
        <label class="btn btn-outline-success" for="btn-check-1">Checked</label>
        <input type="checkbox" class="btn-check" id="btn-check-0" autocomplete="off">
        <label class="btn btn-outline-success" for="btn-check-0">Checked</label>
    </div>
</div>