<h1 class="text-center mt-2 mb-3">Repas du jours</h1>

<div class="search">
    <h2 class="search-title ">Rechercher un repas : </h2>
    <div class="input-box">
        <input type="text" placeholder="Entrer le nom du repas / ingrédient / utilisateur">
        <button><fa-icon [icon]="iconSearch"></fa-icon></button>
    </div>
</div>

<button (click)="openModalCreate()" class="btn btn-success mb-3">Creer un repas</button>

<ng-container *ngIf="repas.value$|async as myRepas">
    <ng-container *ngFor="let repas of myRepas">
        <div class="card-container">
            <div class="card-repas">
                <div class="card-repas-header">
                    <img src="assets/logo.jpg">
                </div>
                <div class="card-repas-body">
                    <div class="title">
                        <h4>{{repas.name}}</h4>
                    </div>
                    <div class="ingredient">
                        <span>#{{repas.tag}}</span>
                    </div>
                    <div class="action-btn mt-2">
                        <button class="btn-edit" (click)="openModalUpdate(repas.id)">Editer</button>
                        <button class="btn-delete" (click)="openModalDelete(repas.id)">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>

<app-modal #modalUpdate title="Modification du repas">
    <form>
        <div class="nom-repas mb-4">
            <span>nom du repas :</span>
            <input type="text">
        </div>
        <div class="ingredient-repas">
            <span>nom de l'ingeredient :</span>
            <input type="text">
        </div>
    </form>
    <button action class="btn btn-success">Valider</button>
</app-modal>
<app-modal #modalCreate title="Création d'un repas">
    <form>
        <div class="nom-repas mb-4">
            <span>nom du repas :</span>
            <input type="text">
        </div>
        <div class="ingredient-repas">
            <span>nom de l'ingeredient :</span>
            <input type="text">
        </div>
    </form>
    <button action class="btn btn-success">Valider</button>
</app-modal>
<app-modal #modalDelete title="Suppression du repas">
    <p>Êtes vous sur de vouloir supprimer ce repas ? </p>
    <button action class="btn btn-danger">Supprimer</button>
</app-modal>