<h1 class="text-center mt-2">Repas du jours</h1>
<div class="search my-5">
    <h2 class="search-title ">Rechercher un repas : </h2>
    <div class="input-box">
        <input type="text" placeholder="Entrer le nom du repas / ingrédient / utilisateur">
        <button><fa-icon [icon]="iconSearch"></fa-icon></button>
    </div>
</div>
<div class="card-container">
    <div class="card-repas">
        <div class="card-repas-header">
            <img src="assets/logo.jpg" alt="">
        </div>
        <div class="card-repas-body">
            <div class="title">
                <h4>Rougail saucisse</h4>
            </div>
            <div class="ingredient">
                <span>#tomate #porc</span>
            </div>
            <div class="username">
                <span>toto974</span>
            </div>
        </div>
    </div>
    <div class="card-repas">
        <div class="card-repas-header">
            <img src="assets/logo.jpg" alt="">
        </div>
        <div class="card-repas-body">
            <div class="title">
                <h4>Rougail saucisse</h4>
            </div>
            <div class="ingredient">
                <span>#tomate #porc</span>
            </div>
            <div class="username">
                <span>toto974</span>
            </div>
        </div>
    </div>
    <div class="card-repas">
        <div class="card-repas-header">
            <img src="assets/logo.jpg" alt="">
        </div>
        <div class="card-repas-body">
            <div class="title">
                <h4>Rougail saucisse</h4>
            </div>
            <div class="ingredient">
                <span>#tomate #porc</span>
            </div>
            <div class="username">
                <span>toto974</span>
            </div>
        </div>
    </div>
    <div class="card-repas">
        <div class="card-repas-header">
            <img src="assets/logo.jpg" alt="">
        </div>
        <div class="card-repas-body">
            <div class="title">
                <h4>Rougail saucisse</h4>
            </div>
            <div class="ingredient">
                <span>#tomate #porc</span>
            </div>
            <div class="username">
                <span>toto974</span>
            </div>
        </div>
    </div>
    <div class="card-repas">
        <div class="card-repas-header">
            <img src="assets/logo.jpg" alt="">
        </div>
        <div class="card-repas-body">
            <div class="title">
                <h4>Rougail saucisse</h4>
            </div>
            <div class="ingredient">
                <span>#tomate #porc</span>
            </div>
            <div class="username">
                <span>toto974</span>
            </div>
        </div>
    </div>

</div>