<ng-container *ngIf="(socialAccountInfo.value$|async) as account ;else noAccount">
    <ng-container *ngIf="account.email && account.profilePicture ;else noAccount">
        <div class="header-register-page mt-2">
            <div class="title-register-page">
                <h1>Bonjour , {{account.firstname + " " + account.lastname}}</h1>
                <img class="rounded-pill" [src]="account.profilePicture" alt="">
            </div>

            <div class="explication mt-2">
                <p>Pour continuer votre inscription veuillez nous avons besoin
                    de savoir dans quelle secteur vous vous situer
                    est de choisir un pseudo pour l'application.
                </p>
            </div>
        </div>
        <ng-container *ngIf="secteurs.value$|async as secteurs">
            <div class="form-register-box">
                <form [formGroup]="formRegister" class="form-register">
                    <div class="pseudo">
                        <span>
                            Votre pseudonyme :
                        </span>
                        <input formControlName="pseudo" type="text">
                    </div>
                    <div class="secteur">
                        <span>Votre secteur</span>
                        <div class="checkbox-container mt-2 ">
                            <ng-container *ngFor="let secteur of secteurs">
                                <input type="radio" name="secteur" [value]="secteur.id" class="btn-check"
                                    id="{{secteur.name}}" autocomplete="off">
                                <label (click)="changeInputSelected(secteur.id)" class="btn btn-outline-success"
                                    for="{{secteur.name}}">{{secteur.name}}</label>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </div>
            <ng-container *ngIf="formRegister.valid && inputSelected;else noValid">
                <app-loading [dataState]="createUserState" [loadingTemplate]="btnLoading">
                    <button (click)="submit()" class="btn btn-dark">Valider</button>
                </app-loading>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #noAccount>
    Erreur lors de la recuperation de votre compte google nous vous invitons a reessayer..
</ng-template>
<ng-template #noValid>
    <button class="btn btn-dark disabled">Valider</button>
</ng-template>

<ng-template #btnLoading>
    <button class="btn btn-dark disabled">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </button>
</ng-template>